{{did-update this.handleIsRequestingChange @isRequesting}}

<div class="flex flex-col h-full overflow-hidden">
  <Tabs as |t|>
    <div class='flex px-4 py-3 text-sm bg-white shadow'>
      <t.Tab>JSON</t.Tab>
      <t.Tab>Headers</t.Tab>
      {{#if this.response}}
        <span class="ml-auto inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 {{this.codeBadgeClasses}}">
          {{this.response.code}}
        </span>
      {{/if}}

    </div>

    <div class="flex-1 overflow-y-scroll {{if (and (not this.hasResponse) (not @isRequesting)) 'flex justify-center items-center'}}">
      <t.Panel>
        {{#if this.response}}
          <pre class='px-4 pt-6 text-xs'>
            {{~this.json}}
          </pre>
        {{else if @isRequesting}}
          <p class="p-4 text-sm text-gray-400">Requesting...</p>
        {{else}}
          <p class="text-gray-400">Make a request to see response data.</p>
        {{/if}}
      </t.Panel>

      <t.Panel>
        {{#if this.response}}
          <dl class='mt-8 bg-white'>
            {{#each-in this.headers as |header value|}}
              <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-4">
                <dt class="text-sm font-medium leading-5 text-gray-500">
                  {{header}}
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  {{value}}
                </dd>
              </div>
            {{/each-in}}
          </dl>
        {{else if @isRequesting}}
          <p class="p-4 text-sm text-gray-400">Requesting...</p>
        {{else}}
          <p class="text-gray-400">Make a request to see response data.</p>
        {{/if}}
      </t.Panel>
    </div>
  </Tabs>
</div>